<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideabobo.service.GoodMapper">
  <resultMap id="BaseResultMap" type="com.ideabobo.model.Good">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="jifen" jdbcType="VARCHAR" property="jifen" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="typeid" jdbcType="VARCHAR" property="typeid" />
    <result column="xiaoliang" jdbcType="INTEGER" property="xiaoliang" />
    <result column="ownid" jdbcType="VARCHAR" property="ownid" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="shop" jdbcType="VARCHAR" property="shop" />
    <result column="mcount" jdbcType="VARCHAR" property="mcount" />
    <result column="saleType" jdbcType="VARCHAR" property="saletype" />
    <result column="sale" jdbcType="VARCHAR" property="sale" />
    <result column="shouye" jdbcType="INTEGER" property="shouye" />
    <result column="zan" jdbcType="INTEGER" property="zan" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="codeimg" jdbcType="VARCHAR" property="codeimg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gname, price, jifen, note, type, img, count, typeid, xiaoliang, ownid, sid, shop, 
    mcount, saleType, sale, shouye, zan, tel, address, codeimg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wct_good
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wct_good
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ideabobo.model.Good">
    insert into wct_good (id, gname, price, 
      jifen, note, type, 
      img, count, typeid, 
      xiaoliang, ownid, sid, 
      shop, mcount, saleType, 
      sale, shouye, zan, 
      tel, address, codeimg
      )
    values (#{id,jdbcType=INTEGER}, #{gname,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{jifen,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{typeid,jdbcType=VARCHAR}, 
      #{xiaoliang,jdbcType=INTEGER}, #{ownid,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, 
      #{shop,jdbcType=VARCHAR}, #{mcount,jdbcType=VARCHAR}, #{saletype,jdbcType=VARCHAR}, 
      #{sale,jdbcType=VARCHAR}, #{shouye,jdbcType=INTEGER}, #{zan,jdbcType=INTEGER}, 
      #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{codeimg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ideabobo.model.Good">
    insert into wct_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gname != null">
        gname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="jifen != null">
        jifen,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="xiaoliang != null">
        xiaoliang,
      </if>
      <if test="ownid != null">
        ownid,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="shop != null">
        shop,
      </if>
      <if test="mcount != null">
        mcount,
      </if>
      <if test="saletype != null">
        saleType,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="shouye != null">
        shouye,
      </if>
      <if test="zan != null">
        zan,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="codeimg != null">
        codeimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gname != null">
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="jifen != null">
        #{jifen,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="xiaoliang != null">
        #{xiaoliang,jdbcType=INTEGER},
      </if>
      <if test="ownid != null">
        #{ownid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="shop != null">
        #{shop,jdbcType=VARCHAR},
      </if>
      <if test="mcount != null">
        #{mcount,jdbcType=VARCHAR},
      </if>
      <if test="saletype != null">
        #{saletype,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=VARCHAR},
      </if>
      <if test="shouye != null">
        #{shouye,jdbcType=INTEGER},
      </if>
      <if test="zan != null">
        #{zan,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="codeimg != null">
        #{codeimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ideabobo.model.Good">
    update wct_good
    <set>
      <if test="gname != null">
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="jifen != null">
        jifen = #{jifen,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="xiaoliang != null">
        xiaoliang = #{xiaoliang,jdbcType=INTEGER},
      </if>
      <if test="ownid != null">
        ownid = #{ownid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="shop != null">
        shop = #{shop,jdbcType=VARCHAR},
      </if>
      <if test="mcount != null">
        mcount = #{mcount,jdbcType=VARCHAR},
      </if>
      <if test="saletype != null">
        saleType = #{saletype,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=VARCHAR},
      </if>
      <if test="shouye != null">
        shouye = #{shouye,jdbcType=INTEGER},
      </if>
      <if test="zan != null">
        zan = #{zan,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="codeimg != null">
        codeimg = #{codeimg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ideabobo.model.Good">
    update wct_good
    set gname = #{gname,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      jifen = #{jifen,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      typeid = #{typeid,jdbcType=VARCHAR},
      xiaoliang = #{xiaoliang,jdbcType=INTEGER},
      ownid = #{ownid,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      shop = #{shop,jdbcType=VARCHAR},
      mcount = #{mcount,jdbcType=VARCHAR},
      saleType = #{saletype,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=VARCHAR},
      shouye = #{shouye,jdbcType=INTEGER},
      zan = #{zan,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      codeimg = #{codeimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>